html {
    // background: url('./images/background.jpg');
    // font-size: 62.5%;
}

body {
    background: #e3e3e3;
  // font-family: Helvetica, Arial, sans-serif;
  // font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
